.formWrapper {
  max-width: 400px;
  width: 100%;
  background-color: #dacaef;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 100px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.input {
  width: 96%;/*100% no funciona?*/
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submittedMessage {
  color: green;
  margin-top: 10px;
}

.signupLink {
  margin-top: 20px;
  text-align: center;
}

.link {
  color: #0070f3;
  text-decoration: none;
}
